.DS_Store
.idea
/.build/
/dist/
/dphoto
/dphoto-ops
bin/
bin-cli/
deployments/infra-data/.terraform/
.aider*
!.aider.conf.yml

# SST
.sst/
.open-next/
node_modules/
sst-env.d.ts
package-lock.json
.env
.env.local
