.chip-move-enter {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
}

.chip-move-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.chip-move-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.chip-move-exit-active {
    opacity: 0;
    transform: scale(0.8) translateY(-50px);
    transition: opacity 300ms, transform 300ms;
}
